body {
    margin: 0;
    padding: 0;
    font-family: 'Italiana', serif;

}

html {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: initial;
    // background: hsla(302, 82%, 76%, 0.3);

    // background: linear-gradient(135deg, hsla(258, 40%, 68%, 0.3) 100%, hsla(302, 82%, 76%, 0.3) 0%);

    // background: -moz-linear-gradient(135deg, hsla(258, 40%, 68%, 0.3) 100%, hsla(302, 82%, 76%, 0.3) 0%);

    // background: -webkit-linear-gradient(135deg, hsla(258, 40%, 68%, 0.3) 100%, hsla(302, 82%, 76%, 0.3) 0%);
}

.navhome {
    background: initial;

    a {
        font-size: 1.5rem;
        padding: 0.1rem 1rem;
        border-radius: 2.5px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.11);
    }
}

.nav,
.navhome {
    min-height: 15vh;
    display: flex;
    align-items: center;

    ul {
        width: 35%;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
 


        li {

            a {
                text-decoration: none;
                color: inherit;
                cursor: pointer;
                font-weight: 700;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2.2px;
                    bottom: 0;
                    left: 0;
                    background-color: rgb(162, 138, 185);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;

                }
            }
        }
    }

}
.iconholder{
    display: none;
}


//device<desktop
@media only screen and (max-width: 1210px) and (min-width:235px) {
    .nav,
    .navhome {
        display: none;
     
    }

    //Hamburger menu
    .iconholder {
        display: block;
        background-color: inherit;
        border: 0;
        position: absolute;
        // position: fixed;
        z-index: 99;
   
        &.active{
            position: fixed;
        }

    .hamburgerMenu {
        height: 35px;
        z-index: 99 ;
        width: 35px;
        position: relative;
        cursor: pointer;
        padding: 1rem;
    }

    .line {
        width: 70%;
        height: 8px;
        background-color: rgb(10, 0, 0);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform .6s, opacity .8s, top .6s;
    }

    .barMid {
        width: 50%;
        left: 40%;
        transition: 600ms;
   
    }


    .barTop {
        top: 25%;
    }

    .barBottom {
        top: 75%;
    }

    .hamburgerMenu.active .barTop {
        transform: translate(-50%, -50%) rotate(-315deg);
        top: 50%;
    }

    .hamburgerMenu.active .barMid {
        left: 80%;
        transform: translate(-50%, -50%) rotate(-90deg);
        opacity: 0;
    }

    .hamburgerMenu.active .barBottom {
        transform: translate(-50%, -50%) rotate(-225deg);
        top: 50%;
    }}
    //Hamburger menu


    //Nav for when page is on home
    .mobilenavhome {
        background: inherit;

        ul {
            max-height: 95vh;
            width: 100vw;
            margin: auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            padding-top: 5rem;
            li {
                font-size: 3em;
                padding: 3rem 0rem;

                a {
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;
                    font-weight: 700;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2.5px;
                        bottom: 0;
                        left: 0;
                        background-color: rgb(141, 86, 192);
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;

                    }
                }
            }
        }
    }    //Nav for when page is on home


 

    .mobilenav {
        // background: hsla(302, 82%, 76%, 0.3);
        // background: linear-gradient(135deg, hsla(258, 40%, 68%, 0.3) 100%, hsla(302, 82%, 76%, 0.3) 0%);
        // background: -moz-linear-gradient(135deg, hsla(258, 40%, 68%, 0.3) 100%, hsla(302, 82%, 76%, 0.3) 0%);
        // background: -webkit-linear-gradient(135deg, hsla(258, 40%, 68%, 0.3) 100%, hsla(302, 82%, 76%, 0.3) 0%);
      
      
        // min-height: 15vh;
        // position: relative;
        // display: flex;
        // align-items: center;
        // overflow-y: hidden;
        // box-sizing: content-box;


min-height: 10vh;
position: relative;
inset: 0;
overflow: hidden;


.menucontent.active{
position: fixed;
z-index: 90;
height: 100%;

}
        ul {
            margin: 0;
            list-style: none;
            background: rgb(236, 191, 235);
            background: linear-gradient(135deg, rgb(175, 161, 207) 100%, hslargb(240, 178, 238));
            background: -moz-linear-gradient(135deg, rgb(173, 161, 202) 100%, hsla(302, 82%, 76%, 1) 0%);
            background: -webkit-linear-gradient(10deg, rgb(185, 174, 212) 0%, rgb(216, 175, 215) 100%);
            // z-index: 90;
  

            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 90;
            // padding-top: 15%;
            top: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: .5rem 0rem 0rem 0rem;
            // position: fixed;
            // top: 0;
            // bottom: 0;
            // left: 0;
            // right: 0;
            // margin: 0;
            // overflow-y: hidden !important;
            // height: 100vh;

            // position: fixed;
            // top: 0;
            // touch-action: none;
            // -webkit-overflow-scrolling: none;
            // overflow: hidden;


            
            // overscroll-behavior: none;
            // height: calc(100vh - 12vh);
            // overflow: auto !important;
            // padding-bottom: 50px;
            // // min-height: 100vh;
            // // max-height: 100vh;
            // box-sizing: content-box;
            // position: fixed;
            // top: 0;
            // overflow: hidden;
            // width: 100vw;
            // margin: auto;
            // padding: 0;
            // display: flex;
            // flex-direction: column;
            // align-items: center;            
            // padding-top: 5rem;

            li {
                font-size: 3em;
                margin: 3rem 0rem;

                a {
                    text-decoration: none;
                    color: inherit;
                    font-weight: 700;
                }
            }
        }

    }

}