.body {
    font-family: 'Italiana', serif;
    font-weight: 600;
    background: hsla(302, 82%, 76%, 0.3);

    background: linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);

    background: -moz-linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);

    background: -webkit-linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);
    min-height: 125vh;

    .projectcard {
        padding-top: 3rem;

        width: 80%;
        margin: auto;
        // display: flex;
        justify-content: center;
        min-height: 80vh;

        section:first-of-type {

            margin: auto;
            width: 60%;
        }

        h1:first-of-type {
            text-align: center;
            padding-bottom: 3rem;
        }

        .sidebyside {
            display: flex;
            background-color: inherit;
            padding: 4rem 0rem 7rem 0rem;

            p {
                width: 50%;
                margin: 0;
            }

            span {

                width: 50%;
                display: flex;
                // align-items: center;
                justify-content: center;

                h2 {
                    margin: 0 1.5rem 0 0;
                }

                .buttonlink {
                    align-self: baseline;
                    background-color: inherit;
                    width: min-content;
                    border: none;

                    a {

                        all: unset;
                        cursor: pointer;

                        width: fit-content;
                        text-align: center;
                        color: black;
                        font-size: 1rem;
                        font-weight: 700;
                        background-color: rgb(155, 140, 168);
                        margin-bottom: 1.5rem;
                        padding: .5rem 1.5rem;
                        transition: 200ms;
                    }

                    .buttonlink a {
                        transition: 200ms;
                        background-color: inherit;
                    }

                    a:hover {
                        border-radius: 2.5rem;
                        box-shadow:
                            3px 3px 0px 0px #242323;
                    }
                }
            }
        }

    }
}


@media only screen and (max-width: 1210px) and (min-width:235px) {
    .body {
        min-height: 100vh;



        .projectcard {
            section:first-of-type {

                margin: auto;
                width: 100%;
            }

            .sidebyside {
                margin-top: 2.5rem;
                flex-direction: column-reverse;

                p {
                    width: 100%;
                }

                span {
                    justify-content: flex-start;
                    margin-bottom: 2rem;
                    width: 90%;

                    .buttonlink {
                        a {
                            padding: 1.2rem 2.2rem;
                        }

                    }
                }
            }
        }
    }
}