.body {
    font-family: 'Italiana', serif;
    font-weight: 600;
    background: hsla(302, 82%, 76%, 0.3);

    background: linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);

    background: -moz-linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);

    background: -webkit-linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);
    min-height: 125vh;
    padding: 3rem 0rem 0rem 0rem;

    .projectcard {
        width: 80%;
        margin: auto;
        // display: flex;
        justify-content: center;
        min-height: 100vh;
        .imageswrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // max-width: 50%;
            // max-width: 80vw;
            // min-width: 80vw;
                //  min-width: max-content;
                //  min-height: 35vh;
                //  max-height: 35vh;
                 flex-wrap: wrap;       
            
            img{
                max-width:30vw ;
                // width: 100%;
                // height: 100%;
                padding: 2rem 0rem;

                object-fit: contain;
                object-position: center;
            }
        }
        h1:first-of-type {
            text-align: center;
        }

        .sidebyside {
            display: flex;
            background-color: inherit;
            margin: 8rem 0rem;

            p {
                width: 50%;
                margin: 0;
            }

            span {

                width: 50%;
                display: flex;
                // align-items: center;
                justify-content: center;
                h2 {
                    margin: 0 1.5rem 0 0;
                }

                .buttonlink {
                    align-self: baseline;
                    background-color: inherit;
                    width: min-content;
                    border: none;

                    a {

                        all: unset;
                        cursor: pointer;

                        width: fit-content;
                        text-align: center;
                        color: black;
                        font-size: 1rem;
                        font-weight: 700;
                        background-color: rgb(155, 140, 168);
                        margin-bottom: 1.5rem;
                        padding: .5rem 1.5rem;
                        transition: 200ms;
                    }

                    .buttonlink a {
                        transition: 200ms;
                        background-color: inherit;
                    }

                    a:hover {
                        border-radius: 2.5rem;
                        box-shadow:
                            3px 3px 0px 0px #242323;
                    }
                }
            }
        }

     }
}


@media only screen and (max-width: 1210px) and (min-width:235px) {
    .body {
        min-height: 100vh;

        .projectcard {
.imageswrapper{
    box-sizing: border-box;
    img{
        max-width:100%;
        margin: auto;
        // width: 100%;
        // height: 100%;
        object-fit: contain;
        object-position: center;
        padding: 2rem 0rem;
        // margin: 9rem 0rem;
    }
}

            .sidebyside {
                margin-top: 2.5rem;
                flex-direction: column-reverse;

                p {
                    width: 100%;
                }

                span {
                    justify-content: flex-start;
                    margin-bottom: 2rem;
                    width: 90%;
                }
            }
        }
    }
}